/* style css mozemy ustawiac na trzy sposoby 
 
1. inline - bezposrednio w htmlu (bardzo niezalecane)
 < h1 style="color: blue  

2. internal, - w headerze (niezalecane)

<head>
  <style> (wszystko co jest w tym elemencie musi byc napisane w css) 
    h1 {
      color: blue
    }
  </style>
</head>

3. external - w oddzielnych plikach

 <link rel="stylesheet" href="plik.css" type="text/css" />

  h1 {
      color: blue
    }

*/
/* selektory css znajdziesz w LokalizacjaElementow/CSS */

/* elementy dziedzicza czesc styli od rodzica (glownie tych zwiazanych z tekstem) */
/* dzieki czemu np. dopisujac font do body dopiszemhy go tez do wszystkich elementow ktore w nim sa */

.klasa {
  /* skladaja sie z selektora czyli tego elementu ktory styluzujemy (te same co uzywa sie w testach) */
  color: yellow; /* i parametrow skladajacych sie z klucz: wartosc; */
  font-size: 36px;
}
* {
  /* * znaczy zastosuj do wszystkiego */
  color: aliceblue;
}
.klasa1,
.klasa2 {
  /* atrybuty mozemy nadac dla klilu elementow na raz. oddzielamy je przecinkiem */
}

waznosc {
  /* w przypadku dwoch takich samym parametrow liczy sie kolejnosc. bedzie taki jak ostatni parametr */
  color: aliceblue; /* to oleje */
  color: aqua; /* to zastosuje */
}
/* hierarchia waznosci stylow */
/* 1. styl w pliku css z parametrem !important  */
h2 {
  color: blue !important;
}
/* 2. style zapisane w znaczniku <h1 style="color:red"> </h1>  */
/* 3. style zapisane w headerze strony za pooca <style> h1 { color: red } </l> */
/* 4. style zapisane w pliku css przy uzyciu id #id  */
/* 5. style zapisane w pliku css przy uzyciu klasy .klasa  */
/* 6. style zapisane w pliku css przy uzyciu znacznika h1  */
/* 7. style zapisane w pliku css przy uzyciu gwiazdki *  */

/* CSS Box Model */

/* W CSSie kazdy element sklad sie z box modelu. 
content box - sam obrazek/tekst etc
padding  - odleglosc od obrazka/tekstu do granicy obszaru. znajduje sie on jeszcze w ramce
border - granica okreslajaca koniec obszaru elementu. tez ma szerokosc
margin - margines poza elementem (oddzielajacy od innych elementow)

wartosci te defaultowo sa na 0 ale mozna je nadpisywac 
border okresla obszar wypelnienia  czyi obszar dla ktorego bedzie dzialal np. kolor tla
*/
/* 
   _____________________________________________________
  |                 Margin     /\                       |
  |   _________________________\/_____________________  | Border (Ramka)  
  |  |              Padding  /\                      |  |
  |  |      _________________\/________________      |  |
  |  |     |         Content Box (Zawartość)  |      |  |
  |  |     |                                  |      |  |
  |  |     |__________________________________|      |  |
  |  |_______________________________________________|  |
  |_____________________________________________________|
  

W modelu tym wystepuje tzw lacznie marginesow. zalozmy ze sa dwa elementy kolo siebie. jeden ma margin 100, drugi 50. 
odleglosc miedzy nimi bedzie 100 a nie 150 poniweaz mniejszy margines schowa se w wiekszy
*/
